/*
-----------------------------------------------
External Style Steet for Minchin.ca
Copyright 2007-13 W. Minchin
http://www.minchin.ca/css/adam-overrides.css
Date:     December 16, 2012
Version:  CSS 1.5.2
For Adam Version: 1.25.0.0
----------------------------------------------- */
/*
This stylesheet was built to support by genealogy
pages. I am using the Adam generator, but it plays
with a number of my styles. This gets my pages
looking good again.

Adam: http://timforsythe.com/tools/adam

Place this as the last CSS file loaded.
*/

/* To get my site header to look good/consistent */
h1#blog-title {
    letter-spacing: 0;
	color: rgb(238, 238, 204);
}

body {
  padding: 20px 10px !important;
}

ul#navlist {
  margin-bottom: 1em;
}

/* Modify ADAM output */
#site-header {
  display: none;
}

#site-footer {
  display: none;
}

.adam-version {
  display: none;
}

#site-content {
  padding: 0;
}

#adam-wrapper {
  margin-top: 0;
}

#site-wrapper {
  margin-left: -15px;
  margin-top: 10px; /* default Adam style */
  margin-bottom: 10px;
  border: none;
  background: none;
}

.mapstatusspan {
  width: auto;
}

#adam-inner-content {
  background: none;
  border: none;
}

.adam-stats-wrapper, 
.adam-heatmap-wrapper, 
.adam-census-wrapper, 
.adam-index-wrapper, 
.adam-birthdays-wrapper,
.adam-comment-wrapper,
.adam-update-wrapper,
#adam-tab-list,
#tab-list {
  background: none;
}

adam-page-title {
  display: none;
}

.adam-al_item {
  clear:both;
}

/*	Adam v1.29.0.0 */
.adam-chart_node {
  height:30px;
  width:151px;
}