invoke >= 0.20.2
markdown
minchin.pelican.plugins.autoloader
minchin.pelican.plugins.cname >= 1.2.0
minchin.pelican.plugins.nojekyll
minchin.pelican.plugins.optimize_images
pelican >= 3.7
pelican-extended-sitemap
pelican-minify
pip-tools
seafoam >= 2.4.1
typogrify

# sub-dependencies; minimums for security
pillow >= 10.0.1
