beautifulsoup4==4.4.1
blinker==1.4
django-htmlmin==0.8.0
docutils==0.12
feedgenerator==1.7
html5lib==0.9999999
htmlmin==0.1.10
Jinja2==2.8
Markdown==2.6.4
MarkupSafe==0.23
pelican==3.6.3
pelican-minify==0.9
Pygments==2.0.2
python-dateutil==2.4.2
pytz==2015.7
six==1.10.0
smartypants==1.8.6
typogrify==2.0.7
Unidecode==0.4.18
webassets==0.11.1
